<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.churchapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TeacherTakeAttendenceStudent"></activity>
        <activity android:name=".TeacherSeeStudentOfClass" />
        <activity android:name=".TeacherSeeClasses" />
        <activity android:name=".TeacherMain" />
        <activity android:name=".AdminAsignStudentClass" />
        <activity android:name=".AdminAssignTeacherClasss" />
        <activity android:name=".DeleteClassActivity" />
        <activity android:name=".AddClassActivity" />
        <activity android:name=".DeleteSubjectActivity" />
        <activity android:name=".AddSubjectActivity" />
        <activity android:name=".AddStudentActivity" />
        <activity android:name=".DeleteStudentActivity" />
        <activity android:name=".DeleteTeacherActivity" />
        <activity android:name=".AddTeacherActivity" />
        <activity android:name=".AdminSeeSubjects" />
        <activity android:name=".AdminSeeClasses" />
        <activity android:name=".AdminSeeStudents" />
        <activity android:name=".AdminSeeTeacher" />
        <activity android:name=".StudentMain" />
        <activity android:name=".AdminMain" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>